{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load cloudinary %}
    {% for post in post_list %}
        <article class="media content-section">
            {% if 'placeholder' in post.author.profile.image.url %}
            <img class="rounded-circle article-img"  src="{% static 'images/blank.jpg' %}">
            {% else %}
            <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
            {% cloudinary  post.author.profile.image format="jpg" width=65 height=65 crop='fill' radius='max' %}
            {% endif %}
            <div class="media-body">
            <div class="article-metadata">
        
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted | date:'d F ,Y'}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <div class="media col-md3">
                {% if 'placeholder' in post.featured_image.url %}
                    <img class="img"  src="{% static 'images/blog_00.jpg' %}">
                {% else %}
                    <!-- <img class="img"  src="{{ post.featured_image.url }}"> -->
                    {% cloudinary  post.featured_image.url format="jpg" width=350 height=300 crop='fill'  %}
                {% endif %}
            </div>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}